<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AntimagnetArea0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,102}</string>
				<key>spriteSourceSize</key>
				<string>{102,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,356},{102,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,66}</string>
				<key>spriteSourceSize</key>
				<string>{65,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{448,528},{65,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{893,568},{66,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{554,458},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Dangerous_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{968,356},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,66}</string>
				<key>spriteSourceSize</key>
				<string>{65,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{826,568},{65,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{586,570},{66,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{867,500},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Normal_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{867,434},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,66}</string>
				<key>spriteSourceSize</key>
				<string>{71,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{794,434},{71,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{941,434},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,66}</string>
				<key>spriteSourceSize</key>
				<string>{72,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{656,434},{72,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Unbreakable_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,92}</string>
				<key>spriteSourceSize</key>
				<string>{58,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{734,356},{58,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonExit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{935,500},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonExit_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{622,502},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonPause0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{968,304},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonPause_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,49}</string>
				<key>spriteSourceSize</key>
				<string>{48,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{730,450},{48,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonRestart0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,502},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonRestart_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{758,502},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonResume0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,460},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonResume_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{380,510},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOff0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{312,510},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOff_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,59}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,59}</string>
				<key>spriteSourceSize</key>
				<string>{57,59}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{961,568},{57,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOn0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{244,510},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOn_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{518,526},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonsFrameGear0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,304},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonsFrameNoGear0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,352}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,352}</string>
				<key>spriteSourceSize</key>
				<string>{352,352}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,2},{352,352}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle100.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{554,356},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle150.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,150}</string>
				<key>spriteSourceSize</key>
				<string>{150,150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,2},{150,150}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle76.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,76}</string>
				<key>spriteSourceSize</key>
				<string>{76,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{656,356},{76,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeLine.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,102}</string>
				<key>spriteSourceSize</key>
				<string>{4,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,2},{4,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeStar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1008,2},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MagnetArea0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,204}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{204,204}</string>
				<key>spriteSourceSize</key>
				<string>{204,204}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{244,304},{204,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>NeuBall0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,42}</string>
				<key>spriteSourceSize</key>
				<string>{42,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{794,356},{42,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SplashCircle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{654,570},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TouchZone0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,300}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,300}</string>
				<key>spriteSourceSize</key>
				<string>{480,300}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{480,300}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>WhiteSquare100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,10}</string>
				<key>spriteSourceSize</key>
				<string>{10,10}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1008,18},{10,10}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>game_bg_small0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,360}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{240,360}</string>
				<key>spriteSourceSize</key>
				<string>{240,360}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,304},{240,360}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>hrrrbrrr.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{148,148}</string>
				<key>spriteSourceSize</key>
				<string>{148,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,154},{148,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>paddle.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,150}</string>
				<key>spriteSourceSize</key>
				<string>{10,150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,2},{10,150}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>spritesheet.png</string>
				<key>textureFileName</key>
				<string>spritesheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
