<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AntimagnetArea0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,102}</string>
				<key>spriteSourceSize</key>
				<string>{102,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{379,724},{102,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,66}</string>
				<key>spriteSourceSize</key>
				<string>{65,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,508},{65,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{860,644},{66,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Antimagnet_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,372},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Dangerous_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{905,573},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,66}</string>
				<key>spriteSourceSize</key>
				<string>{65,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,576},{65,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,710},{66,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Magnet_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,440},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Normal_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{827,828},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,66}</string>
				<key>spriteSourceSize</key>
				<string>{71,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{767,932},{71,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,894},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Tough_1_hp30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,66}</string>
				<key>spriteSourceSize</key>
				<string>{72,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{768,760},{72,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block_Unbreakable_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,92}</string>
				<key>spriteSourceSize</key>
				<string>{58,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{767,838},{58,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonExit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,440},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonExit_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,372},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonPause0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{969,776},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonPause_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,49}</string>
				<key>spriteSourceSize</key>
				<string>{48,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{928,625},{48,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonRestart0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,726},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonRestart_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{901,794},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonResume0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,304},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonResume_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,862},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOff0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,930},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOff_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,59}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,59}</string>
				<key>spriteSourceSize</key>
				<string>{57,59}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{840,960},{57,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOn0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,304},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonSoundOn_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,66}</string>
				<key>spriteSourceSize</key>
				<string>{66,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{792,658},{66,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonsFrameGear0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{637,864},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ButtonsFrameNoGear0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,352}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{352,352}</string>
				<key>spriteSourceSize</key>
				<string>{352,352}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,304},{352,352}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle100.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,658},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle150.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,150}</string>
				<key>spriteSourceSize</key>
				<string>{150,150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{335,864},{150,150}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeCircle76.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,76}</string>
				<key>spriteSourceSize</key>
				<string>{76,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{690,760},{76,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeLine.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,102}</string>
				<key>spriteSourceSize</key>
				<string>{4,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,617},{4,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>LevelNodeStar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,14}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{905,625},{14,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MagnetArea0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,204}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{204,204}</string>
				<key>spriteSourceSize</key>
				<string>{204,204}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,658},{204,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>NeuBall0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,42}</string>
				<key>spriteSourceSize</key>
				<string>{42,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{957,573},{42,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SplashCircle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{905,508},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TouchZone0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,300}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,300}</string>
				<key>spriteSourceSize</key>
				<string>{480,300}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,2},{480,300}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>game_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,720}</string>
				<key>spriteSourceSize</key>
				<string>{480,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{480,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>hrrrbrrr.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{148,148}</string>
				<key>spriteSourceSize</key>
				<string>{148,148}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{487,864},{148,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>paddle.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,150}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,150}</string>
				<key>spriteSourceSize</key>
				<string>{10,150}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{978,617},{10,150}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>planet_part.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{331,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{331,90}</string>
				<key>spriteSourceSize</key>
				<string>{331,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,830},{331,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>planet_part_highlighted.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{375,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{375,104}</string>
				<key>spriteSourceSize</key>
				<string>{375,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,724},{375,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>planet_part_no_flower_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{316,46}</string>
				<key>spriteSourceSize</key>
				<string>{316,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,922},{316,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>planet_part_start0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{316,46}</string>
				<key>spriteSourceSize</key>
				<string>{316,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,970},{316,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>spritesheet.png</string>
				<key>textureFileName</key>
				<string>spritesheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
